.card{
    border:  1px solid lightblue;
    width: 20rem;
    text-align: center;
    background-color: lightpink;
    border: lightseagreen;
}
.right {
    border: 1px solid lightseagreen;
    width: 75%;
    margin-left: 1%;

}
.left {
    width: 25%;

}
.parent {
    display: flex;
}
.img {
    width: 50%;
    height: 50%;
}